<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2sQBpYIxcriCPvlGwhoAoeptqYc-gyoI</string>
	<key>GCM_SENDER_ID</key>
	<string>226389783013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gruppoA3.sadb</string>
	<key>PROJECT_ID</key>
	<string>sadb-d9942</string>
	<key>STORAGE_BUCKET</key>
	<string>sadb-d9942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226389783013:ios:3afa94295224548a103f0c</string>
</dict>
</plist>